# {{skill_name}} Skill

**Purpose**: {{purpose_one_liner}}

**Use when**: {{trigger_phrase_1}}, {{trigger_phrase_2}}, {{trigger_phrase_3}}.

---

## Process

{{#process_steps}}
### {{step_number}}. {{step_name}}
{{step_description}}

{{#step_commands}}
```{{command_language}}
{{command_code}}
```
{{/step_commands}}

{{/process_steps}}

---

## Invocation

```
/{{skill_name}}{{#has_args}} <{{arg_name}}>{{/has_args}}
```

{{#invocation_examples}}
**Examples**:
```
{{#examples}}
/{{skill_name}} {{example_args}}
{{/examples}}
```
{{/invocation_examples}}

---

## Output Format

{{output_description}}

{{#output_example}}
**Example output**:
```
{{output_example_text}}
```
{{/output_example}}

---

## Stack Configuration

{{#backend_config}}
**Backend**:
- Framework: {{backend_framework}}
- Testing: {{backend_testing}}
- Linting: {{backend_linting}}
- Package manager: {{backend_package_manager}}
{{/backend_config}}

{{#frontend_config}}
**Frontend**:
- Framework: {{frontend_framework}}
- Library: {{frontend_library}}
- Testing: {{frontend_testing}}
- Linting: {{frontend_linting}}
- Package manager: {{frontend_package_manager}}
{{/frontend_config}}

---

## Notes

{{#notes}}
- {{note_text}}
{{/notes}}
